<div class="pipe text-center my-3">
    <h3> Pipe in Angular </h3>
    <p> <strong> Initial value : {{pipeValue}} </strong> </p>
    <p> <strong> UpperCase Pipe : {{pipeValue | uppercase}} </strong> </p>
    <p> <strong> LowerCase Pipe : {{pipeValue | lowercase}} </strong> </p>
    <p> <strong> TitleCase Pipe : {{pipeValue | titlecase}} </strong> </p>
    <p> <strong> Slice Pipe : {{pipeValue | slice: 2: 10}} </strong> </p> <!-- from index 2-9 would be shown from initial value -->

    <br><br>
    <p> <strong> Initial Date : {{pipeDate | date}} </strong> </p>
    <p> <strong> Short Date : {{pipeDate | date:'short'}} </strong> </p>
    <p> <strong> Medium Date : {{pipeDate | date:'medium'}} </strong> </p>
    <p> <strong> Full Date : {{pipeDate | date:'fullDate'}} </strong> </p>
    <p> <strong> Short Time : {{pipeDate | date:'shortTime'}} </strong> </p>

    <br><br>
    <h4> <strong> Multiple pipe : {{pipeDate | date:'fullDate' | uppercase}} </strong> </h4>

    <br><br>
    <h4> <strong> Custom pipe : {{pipeValue | custompipe}} </strong> </h4>

    <h4> <strong>Custom Array Pipe</strong></h4>
    <ul>
        <li *ngFor="let name of namePipeArray"> 
            {{name | custompipe:8}}
        </li>
    </ul>

    <br>
    <h3> <strong>Filter Pipe</strong></h3>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="form-group">

                <input style="border: 2px solid green; border-radius: 5px;" type="text" 
                    class="form-control" id="search" 
                    placeholder="Search Product By Name" [(ngModel)]="nameSearch" >
            </div>
        </div>
        <div class="col-lg-8">
            <table class="table table-hover table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productPipeArray | filterPipe:nameSearch">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.pname}}</td>
                        <td>{{product.price}}</td>

                        <!-- product availability concept implemented -->
                        <td *ngIf="product.availability === 'Available'; then availableBlock else notAvailableBlock"></td>
                        <ng-template #availableBlock> 
                            <h5><span class="badge bg-success">{{product.availability}}</span></h5>
                        </ng-template>
                    
                        <ng-template #notAvailableBlock> 
                            <h5><span class="badge bg-danger">{{product.availability}}</span></h5>
                        </ng-template>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>