<div class="container bg-secondary">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center">About works!</h2>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error id itaque commodi recusandae. Eos nisi id reprehenderit aliquam, repellat, obcaecati inventore, architecto quibusdam pariatur nulla culpa. Provident id nesciunt harum.</p>
        </div>
    </div>

    <!-- testing : Navigating Routes Programatically -->
    <h2 class="text-white text-center mt-4">Navigating Routes Programatically </h2>
    <h3 class="text-white text-center mt-4 mx-auto">Assume when product is 5 then redirect products page automatically</h3>
    <app-ng-for></app-ng-for>
</div>