<div class="comp text-center" appDirective>
    <h3>Username : <strong class="bg-success"> {{userName}} </strong></h3>

    <div class="">
        <input type="text" placeholder="Enter name" #uName [(ngModel)]="inputValueName" (input)="getInputValue()">
        <button class="btn btn-success mx-3" (click)="updateUserName(uName)">update</button>
        <button class="btn btn-primary mx-3" (click)="addText()">Add text using DOM</button>
        <br><br>

        <button class="btn btn-primary mx-3" (click)="changeColor('#2be37e')">Change Color #1</button>
        <button class="btn btn-primary mx-3" (click)="changeColor('#f5a171')">Change Color #2</button>

        <br><br>

        <ng-content>

        </ng-content>

    </div>
</div>