<div class="container bg-success">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center">Contact works!</h2>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error id itaque commodi recusandae. Eos nisi id reprehenderit aliquam, repellat, obcaecati inventore, architecto quibusdam pariatur nulla culpa. Provident id nesciunt harum.</p>
        </div>
    </div>

    <div class="row">
        <div class="d-flex">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <button class="btn btn-success" (click)="btnClick('Laptop')">Call Laptop Service</button>
            </app-card>
            <app-card>
                <h5 class="card-title">Monitor</h5>
                <button class="btn btn-success" (click)="btnClick('Monitor')">Call Monitor Service</button>
            </app-card>
            <app-card>
                <h5 class="card-title">KeyBoard</h5>
                <button class="btn btn-success" (click)="btnClick('KeyBoard')">Call KeyBoard Service</button>
            </app-card>
            <app-card>
                <h5 class="card-title">Mouse</h5>
                <button class="btn btn-success" (click)="btnClick('Mouse')">Call Mouse Service</button>
            </app-card>
        </div>
    </div>
</div>