<div class="container bg-success">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center">Contact works!</h2>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error id itaque commodi recusandae. Eos nisi id reprehenderit aliquam, repellat, obcaecati inventore, architecto quibusdam pariatur nulla culpa. Provident id nesciunt harum.</p>
        </div>
    </div>

    <div class="row">
        <div class="d-flex">
            <app-card>
                <h5 class="card-title">Laptop</h5>
                <a routerLink="cream1" class="btn btn-success">Go Laptop</a>
            </app-card>
            <app-card>
                <h5 class="card-title">Monitor</h5>
                <a routerLink="cream2" class="btn btn-success">Go Monitor</a>
            </app-card>
            <app-card>
                <h5 class="card-title">Key Board</h5>
                <a routerLink="cream3" class="btn btn-success">Go KeyBoard</a>
            </app-card>
            <app-card>
                <h5 class="card-title">Mouse</h5>
                <a routerLink="cream4" class="btn btn-success">Go Mouse</a>
            </app-card>
        </div>
    </div>
</div>