.txt-sec{
    width: 45%;
    background-color: #fff;
    margin: 10px 2px;
    float: right;
}

.heading-red{
    color: blue;
    font-size: 20px;
}

.txt-sec p{
    color: #858585;
    font-size: 18px;
    padding: 10px 0;
    line-height: 20px;
}

.btn-red{
    background-color: blue;
    color: #fff;
    padding: 15px 10px;
    border-radius: 40px;
    text-decoration: none;
    float: right;
    /* margin-top: 5px; */
}

.btn-red:hover{
    background-color: black;
}

.clear{
    clear: both;
}