<h1>
  welcome to {{title}}
</h1>

<h1> Component Practice </h1>
<app-myContainer></app-myContainer>

<br><br><br><br><br><br><br><br><br><br><br><br>

<h1>Databinding Practice</h1>
<app-databind></app-databind>

<br><br>

<h1>Class-Style Binding Practice</h1>
<app-class-style></app-class-style>

<br><br>

<h1>Event Binding Practice</h1>
<app-event-bind></app-event-bind>

<br><br>

<h1>Two Way DataBinding</h1>
<app-two-way-databind></app-two-way-databind>

<br><br>
<h1>ngIf starts !!</h1>
<app-ng-if></app-ng-if>

<br><br>
<h1>ngSwitch starts !!</h1>
<app-ng-switch></app-ng-switch>

<br><br>
<h1>ngFor starts !!</h1>
<app-ng-for></app-ng-for>

<br><br>
<h1>Routing in Angular | Angular Routes | RouterLink</h1>

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about">About Us</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->