<div class="container bg-warning">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center">Products works!</h2>
            <p class="text-black">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error id itaque commodi recusandae. Eos nisi id reprehenderit aliquam, repellat, obcaecati inventore, architecto quibusdam pariatur nulla culpa. Provident id nesciunt harum.</p>
        </div>
    </div>

    <hr class="mb-3">
    <div class="row">
        <div class="d-flex">
            <div class="card" style="width: 18rem;" appHostListenerDirective>
                <img src="../../assets/image/1.jpg" style="width: 250px; height: 250px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="cream1" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image/2.jpg" style="width: 250px; height: 250px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="cream2" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image/3.jpg" style="width: 250px; height: 250px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="cream3" class="btn btn-info">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image/4.jpg" style="width: 250px; height: 250px;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="cream4" class="btn btn-danger">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>