<div class="container bg-info">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-center">Home works!</h2>
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error id itaque commodi recusandae. Eos nisi id reprehenderit aliquam, repellat, obcaecati inventore, architecto quibusdam pariatur nulla culpa. Provident id nesciunt harum.</p>
        </div>
    </div>

    <!-- ng-container practice -->
    <div class="products">
        <ng-container *ngIf="statusOnline">     <!-- (similar as Fragment in React) using ng-container instead of div for avoiding unnecessary adding of extra divs'-->
            <div *ngFor="let product of products">
                {{product.name}}
            </div>
        </ng-container>
    </div>

    <br><br>
    <h2>Subject & Behavior Subject</h2>

    <div class="box">
        <h3 style="text-align: center;">User name is : <strong class="bg-success">{{userName}}</strong></h3>

        <div class="row">
            <div class="col-md-6">
                <app-comp1></app-comp1>
            </div>
            <div class="col-md-6">
                <app-comp2></app-comp2>
            </div>
            <div class="col-md-6">
                <app-comp3></app-comp3>
            </div>
            <div class="col-md-6">
                <app-comp4></app-comp4>
            </div>
        </div>
    </div>
</div>

